@media (min-width:992px) and (max-width:1199px){
     
  .carousel-subTitle{
    font-size: 48px; 
  }
  
  .avail-box{
    margin: 0 50px;
  }

  .servicesBoxContainer{
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 10px;
      margin: 50px 120px 100px 120px;
    }
  
    .services-box{
      width: 100% ;
      height: 120px;
    }

    .services-box p{
        font-size: 1rem;
    }
}

@media only screen and (max-width:992px){
  .carousel{
     max-width: 100%;
  }

  .carousel-subTitle{
    font-size: 42px; 
  }

  .carousel-button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }   
  
  .carousel-button.prev > img{
      width: 50px; 
      height: 50px; 
      object-fit: cover; 
      border-radius: 50%;
    }
  
    .carousel-button.next > img{
      width: 50px; 
      height: 50px; 
      object-fit: cover; 
      border-radius: 50%;
    }

    .carousel-button.next {
      right: 1rem;
    }

    .avail-box{
      margin: 0px 10px;
      padding: 0 5px; 
    }

    .ind-avail-box{
      margin: 20px 5px;
    }

    .aboutUsContainer{
      display: grid;
      margin: 120px 120px 100px 120px; 
      grid-template-columns: 1fr;
    }
  
     .aboutUsTextDetails{
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 50px;
      height: 400px;
    }
  
    .aboutUsTitleView{
      display: flex; 
      flex-direction: column;
      justify-content: space-evenly;
    }
       
    .aboutUsTitleView h1 {
      font-size: 33px; 
      font-weight: 300;
    }
    
    .aboutUsMessage{
      font-size: 21px;;
    }
  
    .aboutUsThumbnailsView{
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      column-gap: 10px;
    }

    .servicesBoxContainer{
      margin: 0px 120px 150px 120px; 
       column-gap: 15px;
    }

    .services-box > img{
      width: 35px;
      height: 35px;
    }
  
    .services-box p {
      font-size: 0.9rem; 
      font-family: 'Poppins', sans-serif;
    }

    .testimonialsContainer{
      margin: 100px 110px; 
      height: 400px;
  }

    .testimonialsContainer img{
      width: 100%; 
      height: 60%; 
      margin-top: 25%;
    }

    .testimonialsTitle{
      font-size: 14px; 
    }
    
    .testimonialsSubTitle{
      font-size: 35px; 
    }
    
    .testimonialsMessage p{
      font-size: 18px; 
    }

    .galleryContainer{
      width: 100%; 
    }

    .blogCardContainer{
      grid-template-columns: 1fr 1fr; 
    }

    .blogContentView{ 
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    .blogDate{
      margin: 10px 0px;
    }
  
    .blogTitle{
      margin: 10px 0px;
    }
  
    .blogMsg{
      margin: 10px 0px;
    }
}

@media only screen and (max-width:768px){
  .carousel-subTitle{
    font-size: 30px; 
  }

  .avail-main-container{
    height: 350px;  
    bottom: -160px;
  }
  
  .avail-box{
    margin: 0 10px; 
    padding: 0px 10px;
    grid-template-columns: 1fr 1fr; 
  }

  .aboutUsContainer{
    margin: 200px 100px 100px 100px; 
  }

    .servicesBoxContainer{ 
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      column-gap: 30px;
      row-gap: 20px;
    }

    .services-box{
        height: 100px;
    }

    .services-box > img{
      width: 35px;
      height: 35px;
    }
  
    .services-box p {
      font-size: 0.9rem; 
      font-family: 'Poppins', sans-serif;
    }


 .sec-carousel{
   position: relative;
   width: 100%; 
   height: 45rem; 
   background-color: #0e2737;
 }
 
 .slide-1-Container{
   margin: 0;
       display: grid; 
       grid-template-columns: 1fr;
 }
 
 
 .slide-1-Container img {
   margin: 2rem 0;
   width: 100%; 
   height: 50%; 
 }
 
 .carouselButtons{
   position: absolute;
   bottom: 0;
   left: 50%;
 }
 
 
 .slide-1-Details{
   width: 100%;
   height: 30%;
   display: flex; 
   flex-direction: column; 
   justify-content: flex-end; 
   padding: 10px 0px 10px 10px 
 }
 
 .slide-1-DetailsTitle{
   font-size: 25px; 
   margin: 0 10px;
 }
 
 .slide-1-Rent{
  font-size: 25px; 
  margin: 0 10px;
}
 
 .slide-1-Details ul li{
  font-size: 16px; 
  margin: 0 10px;
}
 
 .slide-1-viewDetails{
  margin-left: 10px;   
}
 
 .slide-1-viewDetails p{
   font-size: 18px;
   padding: 10px;
 }    

 .testimonialsContainer{
  margin: 130px;
  padding: 0px;
  display: grid; 
  grid-template-columns: 1fr; 
  height: 100%;
}

    .testimonialsContainer img{
      width: 100%; 
      height: 100%; 
      margin: 0px;
    }

    .testimonialsMessageView{
      margin-top: 60px;
      height: 420px;
    }

    .galleryContainer{
      width: 100%; 
    }

    .blogCardContainer{
      grid-template-columns: 1fr; 
    }

    .blogContentView{ 
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    .blogDate{
      margin: 10px 0px;
    }
  
    .blogTitle{
      margin: 10px 0px;
    }
  
    .blogMsg{
      margin: 10px 0px;
    }
}

@media only screen and (max-width:576px){

  .carousel-subTitle{
    font-size: 30px; 
  }

  .avail-main-container{
    height: 350px;  
    bottom: -160px;
  }
  
  .avail-box{
    margin: 0 10px; 
    padding: 0px 10px;
    grid-template-columns: 1fr 1fr; 
  }

  .aboutUsContainer{
      margin: 180px 10px 0px 10px; 
    }
  
    .servicesBoxContainer{
      margin: 70px 10px;
      column-gap: 50px;
      row-gap: 30px;
    }

    .services-box > img{
      width: 35px;
      height: 35px;
    }
  
    .services-box p {
      font-size: 0.9rem; 
      font-family: 'Poppins', sans-serif;
    }

    .sec-carousel{
      height: 38rem; 
    }

    .testimonialsContainer{
      margin: 70px 10px; 
      height: 100%;
  }

    .testimonialsContainer img{
      width: 100%; 
      height: 90%; 
    }

    .testimonialsMessageView{
      margin-top: 20px;
    }

    .galleryContainer{
      width: 100%; 
    }

    .blogContSubTitle{
      font-size: 1.5rem;
    }

    .blogCardContainer{
      grid-template-columns: 1fr; 
      margin: 50px 10px;
    }
}



