/** Font Family **/

@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700);

/*!---------------------------------------------------*/


/** Style for Icons **/

@font-face {
    font-family: 'ElegantIcons';
    src:url('../Resources/icons/fonts/ElegantIcons.eot');
    src:url('../Resources/icons/fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('../Resources/icons/fonts/ElegantIcons.woff') format('woff'),
        url('../Resources/icons/fonts/ElegantIcons.ttf') format('truetype'),
        url('../Resources/icons/fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon_search,
.icon_phone,
.icon_mail {
    font-family: 'ElegantIcons';
    font-style: normal;
    color: white;
}

.icon_search:before {
    content: "\55";
    font-size: 18px;
}

.icon_phone:before {
    content: "\e090";
    color: #1cc3b2;
    font-size: 14px;
    padding: 0px 5px 0px 0px;
}

.icon_mail:before {
    content: "\e076";
    color: #1cc3b2;
    font-size: 14px;
    padding: 0px 5px 0px 0px;
}

.dropdown-cont>a>img {
    padding-top: 8px;
    padding-left: 1px;
    padding-right: 1px;
    width: 11px;
}

.dropdown>.dropdown-cont>a>img {
    transform: rotate(-90deg);
    position: absolute;
    top: 10px;
    right: 16px;
}

/*!---------------------------------------------------*/


/** LOGO **/

#logo {
    display: flex;
    align-items: center;
    padding-top: 2px;
    cursor: pointer;
}


/*!---------------------------------------------------*/


/** Body **/

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}


/*!---------------------------------------------------*/


/** Header section **/

.header {
    width: 100%;
    background-color: #1cc3b2;
}


/*? Search Bar ?*/

.search-form {
    /* max-width: 1200px; */
    opacity: 0;
    height: 0px;
    margin: auto;
    transition-duration: 350ms;
    transition-timing-function: ease-in;
    display: flex;
    align-items: center;
}

.search-form>.container {
    opacity: 0;
    height: 0px;
    transition-duration: 350ms;
    transition-timing-function: ease-in;
}

.search-form-active, .search-form-active>.container {
    height: 80px;
    opacity: 1;
}

.container {
    width: 1140px;
    /* width: 100%; */
    margin: auto;
    padding: 0px 15px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
}

.container>form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#searchInput {
    /* outline: 1px solid red; */
    background: transparent;
    border: 0px;
    width: 95%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.magnifier {
    /* outline: 1px solid red; */
    width: 5%;
    text-align: right;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    border-top: 0px;
    border-right: 0px;
}


/*? Header Top ?*/

.header-top {
    /* max-width: 1200px; */
    height: 50px;
    margin: auto;
    display: flex;
    background-color: #0e2737;
}

.header-top>.container {
    /* outline: 1px solid red; */
    height: 50px;
}

.cont {
    /* outline: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    /* outline: 1px solid red; */
    width: 50%;
}

.header-top-cont {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.box a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.box a span {
    transition-duration: 500ms;
}

.box>.contact>a:hover>span {
    opacity: 0.5;
}

.icons {
    justify-content: end;
    gap: 34.25px;
}

.icons>a {
    transition-duration: 500ms;
}

.icons>a:hover {
    color: #1cc3b2;
}


/*? Header menu ?*/

.header-menu {
    background-color: white;
    height: 80px;
}

.header-menu>.container {
    height: 80px;
}

.height-check {
    height: 1000px;
    background-color: black;
}

/*? Nav Menu ?*/

.header-menu-main {
    /* outline: 1px solid red; */
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding-bottom: 2px; */
}

.navbar {
    /* outline: 1px solid red; */
    display: flex;
    /* height: 100%; */
    align-items: center;
    /* gap: 40px; */
    /* justify-content: center; */
    
}

#nav {
    /* outline: 1px solid red; */
    display: flex;
    height: 40px;
    width: 612.5px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    /* gap: 40px; */
}

.navbar>#nav>li {
    list-style: none;
}

.navbar>#nav>li>a {
    /* outline: 1px solid red; */
    height: 100%;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #2a303b;
    font-weight: 500;
    transition-duration: 500ms;
}

.navbar>#nav>li:hover>a {
    color: #afb4bf;
}

/*? Drop down 1 ?*/

.dropdown-cont {
    position: relative;
}

.dropdown {
    opacity: 0;
    visibility: hidden;
    width: 210px;
    position: absolute;
    background-color: #ffffff;
    top: 150%;
    z-index: 100;
    box-shadow: 0 2px 40px 8px rgb(15 15 15 / 15%);
    transition-duration: 300ms;
    border-radius: 6px;
    padding: 10px 0;
    border: 0px;
}

.dropdown-cont:hover>.dropdown,.dropdown:hover>.dropdown {
    opacity: 1;
    top: 130%;
    visibility: visible;
}

.dropdown>li {
    /* outline: 1px solid red; */
    cursor: pointer;
    height: 42px;
    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
    list-style: none;
    box-sizing: border-box;
}

.dropdown>li>a {
    font-size: 14px;
    width: 100%;
    line-height: 42px;
    font-weight: 500;
    text-decoration: none;
    color: #2a303b;
    padding: 0px 30px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    transition-duration: 500ms;
}

.dropdown>li:hover>a {
    color: #1cc3b2;
}

/*? Drop down 2 ?*/

.dropdown .dropdown {
    /* position: absolute; */
    opacity: 0;
    top: 20px;
    left: 180px;
}

.dropdown>.dropdown-cont:hover>.dropdown, .dropdown>.dropdown-cont>.dropdown:hover>.dropdown {
    opacity: 1;
    top: -10px;
}

.dropdown>li:last-child {
    border: 0px;
}


/*? Search Button ?*/

.search-btn {
    /* height: 24px; */
    margin-left: 24px;
    padding-bottom: 2px;
    transition-duration: 500ms;
    cursor: pointer;
}

.search-btn:hover {
    color: #1cc3b2;
}



/*? Book Now button ?*/

.book-now-btn {
    height: 100%;
    background-color: #1cc3b2;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    transition-duration: 500ms;
}

.book-now-btn:hover {
    background-color: #2a303b;
}

.book-now-btn>a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 80px;
    font-weight: 500;
}

.book-now-btn>a>i {
    padding-left: 5px;
}